body, html{
    height: 100%;
    width: 100%;
}

#content-container{
    display: flex;
    flex-direction: row;
    padding: 2em;
}

#vis-container{
    height: 100%;
    width: 80%;
}

#distance-container{
    display: flex;
    flex-direction: column;
    width: 20%
}

#distance-table{
    flex-direction: column;
    margin: 0 2em 0 2em;
}

#legend-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1em;
    vertical-align: middle;
    text-align: center;
}

#distance-legend{
    display: inline-block;
    height: 3em;
    width: 8em;
    border-radius: 12px;
    margin: 0 1em 0 1em;
    background-image: linear-gradient(to right, hsl(-15, 60%, 50%), hsl(105, 60%, 50%), hsl(225, 60%, 50%));
}

.legend-label{
    position: relative;
    font-family: "Roboto Mono", "monospace";
    font-size: 1em;
}

.icon-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
}

.point-icon{
    display: flex;
    margin: 0.1em;
    justify-content: center;
    align-items: center;
    height: 2em;
    width: 2em;
    border-radius: 100px;
}


#vis-canvas{
    height: 75%;
    width: 90%;
    border-radius: 26px;
    border: 1px solid lightgray;
}



.rank-cell, .current-cell, .target-cell{
    border-radius: 4px;
    border: 1px solid lightgray;
    border-collapse: collapse;
    text-align: center;
    vertical-align: middle;
}

.rank-cell{
    background-color: lightgray;
}

.target-cell{
    background-color: palegoldenrod;
}

